[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".oh-my-zsh/custom/plugins/fzf-tab"]
	path = .oh-my-zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
